* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2d2d2d05 ;
}
a {
    text-decoration: none;
    color: black;
}
.container_menu {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0;
    box-sizing: border-box;
    
}
.container_menu img {
    display: block;
    width: 20vw;
    height: 15vh;
}
.burger div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
    display: none;
}
.container_secondary_menu {
    width: 100%;
}
.container_secondary_menu div{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
.container_secondary_menu a {
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    transition: 0.2s;
}
.container_secondary_menu a:hover {
    background-color: grey;
    transition: 0.3s;
}
.carousel_container {
    width: 80%;
    margin: auto;
    position: relative;
   overflow: hidden;
   margin: 2% auto;
}
.carousel_container .carousel_slider {
    width: 100%;
    display: flex;
    
}
.carousel_container i {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    color:white;
    cursor: pointer;
    padding: 1%;
    border-radius: 50%;
    background-color: grey;
    box-sizing: border-box;
}
#nextBtn {
    top: 50%;
    right: 3%;
}
#prevBtn {
    top: 50%;
    left: 3%;
}
.carousel_container .carousel_slider .img {
    min-width: 100%;
    background-color: gainsboro;
    position: relative;
}
.carousel_container .carousel_slider .img h2 {
    position: absolute;
    top:75%;
    left: 5%;
    color:black;
}
.carousel_container .carousel_slider .img img{
    display: block;
    width: 100%;
    height: 75vh;
}
.container_content {
    width: 100%;
    height: auto;
    padding: 0 5%;
    margin-top: 2%;
}
.container_content a:hover {
    color: black;
    font-weight: bold;
    
}
.container_content .container_kopikukaukita {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 3%;
}
.container_content .container_topview {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.container_topview .view {
    width: 20%;
    height: 40vh;
    background-color: grey;
}
.container_content .container_both_content {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
}
.container_both_content img {
    display: block;
    width: 250px ;
    height: 250px;
}
.container_both_content .container_left_content {
    width: 75%;
    height: auto;
    /* background-color: #2d2d2d05; */
}
.container_both_content .container_right_content {
    width: 25%;
    height: auto;
    /* background-color: red; */
}
.container_left_content .content {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.container_left_content .content .desc_content_1 {
    display: flex;
    justify-content: space-between;
}
.container_left_content .content .desc_content_1 p {
    padding: 0 3%;
    box-sizing: border-box;
}

.container_both_content .container_right_content .right_content {
    width: 100%;
    height: auto;
    background-color:#dcdcdc3b;
    padding: 3% 3%;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.container_footer {
    width: 100%;
    height: 15vh;
    background-color: gainsboro;
}
.container_menu {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.container_secondary_menu .menu_active {
    display: flex;
    transition: 1s;
    opacity: 100%;
    
}
@media only screen and (max-width: 480px) {
    .container_menu img {
        width: 32vw;
        height: 8vh;
    }
    .container_secondary_menu {
        width: 100%;
    }
    .container_secondary_menu div {
        flex-direction: column;
        height: 75vh;
        width: 100%;
        background-color: grey;
        position: absolute;
        z-index: 1;
        /* transform: translateX(100%); */
        transition: transform 0.5s ease-in;
        display: none;
        opacity: 0;
        transition: 1s;
        z-index: 4;
    }
    .container_menu .burger div {
        display: block;
    }
    .carousel_container {
        margin: 5% auto ;
        width: 100%;
    }
    .carousel_container i {
        font-size: 20px;
               
    }
    .carousel_container .carousel_slider .img img {
        height: 45vh;
    }
    .carousel_container .carousel_slider h2 {
        font-size: 15px;
    }
    .container_content .container_topview {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .container_topview .view {
        width: 75%;
        height: 50vh;
    }
    .container_content .container_both_content {
        flex-direction: column;
        align-items: center;
    }
    .container_content .container_both_content .container_left_content {
        width: 100%;
        text-align: center;
    }
    .container_content .container_both_content .container_left_content h1 {
        font-size: 30px;
    }
    .container_both_content .container_left_content .content .desc_content_1 {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
        padding-bottom: 5%;
        box-sizing: border-box;
    }
    .container_both_content .container_right_content {
        width: 100%;
    }

}